<h1>Human Assistant Available Services in Sacramento County</h1>
<% @services.each do |service| %>

    <%= link_to service.agency_name,service  %><br>
	<%= service.address_1 %><br>
	<%= service.address_2 %><br>
	<%= service.tel %><br>
	<%= service.fax %><br>
	<%= service.email %><br>
	<%= link_to service.website, service.website %><br>
	<hr>
<% end %>