<h1><%= @service.agency_name %></h1>
<%= @service.address_1 %><br>
<%= @service.address_2 %><br>
<%= @service.tel %><br>
<%= @service.fax %><br>
<%= @service.email %><br>
<%= link_to @service.website %><br>
