<!DOCTYPE html>
<html>
<head>
  <title>Saccares</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header-wrapper">
   <div id="header">
    <div id="logo">
     <h3><a href="#">Sacramento County</a></h3>
     <p>Health and Human Assistance Programs</p>
    </div>
    <div id="menu">
     <ul class="main-nav">
      <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "About", pages_about_path %></li>
	  <li><%= link_to "Services", services_path %></li>
	  <li><%= link_to "Contact", pages_contact_path %></li>
	  <li><%= link_to "Resources", pages_resources_path %></li>
     </ul>
    </div>
   </div>
  </div>
  <!-- end #header --><!DOCTYPE html>
